spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER}
    password: ${EMAIL_PASS}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false

  thymeleaf:
    enabled: true
    prefix: classpath:/templates/
    suffix: .html

envio:
  email:
    remetente: ${EMAIL_USER}
    nomeRemetente: 'MValetin'

server:
  port: 8082